# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
StarSoftEngine/Debug/main.obj
Debug/StarSoftEngine.exe
Debug/StarSoftEngine.pdb
Debug/StarSoftEngine.ilk
StarSoftEngine.sdf
*.tlog
StarSoftEngine/Debug/StarSoftEngine.log
*.suo
StarSoftEngine/Debug/vc120.pdb
StarSoftEngine/Debug/vc120.idb
*.obj
StarSoftEngine/Debug/StarSurface.obj
